* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  font-size: 14px;
  color: #212121;
}

label {
  display: block;
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .64px;
}

input, button {
  outline: unset;
  box-shadow: unset;
  border-radius: 4px;
  font-size: 14px;
}

input {
  width: 100%;
  border: 1px solid #e0e0e0;
  padding: 16px;
  background-color: #e6e6e6;
  color: #212121;
}

ul {
  list-style-type: none;
}

.button {
  display: inline-block;
  border: 0;
  padding: 16px 40px;
  background-color: #1e90ff;
  color: #fff;
  cursor: pointer;
}

.button-xs {
  padding: 4px 10px;
  font-size: 12px;
}

.todo {
  max-width: 640px;
  margin: 120px auto;
  border-radius: 4px;
  border: 1px solid #eee;
}

.todo-form, .todo-list {
  padding: 32px;
}

.todo-form {
  background-color: #eee;
}

.todo-form-row:first-child {
  margin-bottom: 12px;
}

.todo-list__item {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  animation-name: fade-in;
  animation-duration: .32s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

.todo-list__item:nth-child(odd) {
  background-color: #f8f8f8;
}

.todo-list__item:nth-child(even) {
  background-color: #eee;
}

.todo-list__item button {
  transform: translateX(100vw);
  transition-property: transform;
  transition-duration: .32s;
  transition-timing-function: ease;
}

.todo-list__item:hover button {
  transform: translateX(0);
}

/* input error */
.is-error {
  border: 1px solid #e34c26;
}

/* animations */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(.5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}